$light-grey: #777;
$hover-blue: #0275d8;
@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
    h1 {
        margin-bottom: 10px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $light-grey;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px; // padding-top: 9px;
    font-weight: bold;
    &:hover {
        color: $hover-blue;
        text-decoration: none;
    }
}

.bd-footer {
    padding: 4rem 0;
    margin-top: 4rem;
    font-size: 85%;
    text-align: center;
    background-color: #f7f7f7;
    a {
        font-weight: 500;
        color: #464a4c;
        &:hover {
            color: $hover-blue;
        }
    }
    p {
        margin-bottom: 0;
    }
}

@media (min-width:576px) {
    .bd-footer {
        text-align: left
    }
}

.bd-footer-links {
    padding-left: 0;
    margin-bottom: 1rem;
    li {
        display: inline-block
    }
    li+li {
        margin-left: 1rem
    }
}

aside {
    section.user_info {
        margin-top: 20px;
    }
}

section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
        border: 0;
        padding-top: 0;
    }
    span {
        display: block;
        margin-bottom: 3px;
        line-height: 1;
    }
    h1 {
        font-size: 1.4em;
        text-align: left;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 0px;
    }
}

.gravatar {
    float: left;
    margin-right: 10px;
    border-radius: 50%;
}

.gravatar_edit {
    margin-top: 15px;
}

input,
textarea,
select,
.uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

input {
    height: auto !important;
}

.center_form {
    @include center-block;
}

// # (hash) means id in CSS
#error_explanation {
    color: red;
    ul {
        // color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    // extends bootstraps has-danger class
    @extend .has-danger;
    .form-control {
        color: $state-danger-text;
    }
}

.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
        margin-left: 20px;
        font-weight: normal;
    }
}

#session_remember_me {
    width: auto;
    margin-left: 0;
}

.users {
    list-style: none;
    margin: 0;
    li {
        overflow: auto;
        padding: 10px 0;
        border-bottom: 1px solid $gray-lighter;
    }
}

.microposts {
    list-style: none;
    padding: 0;
    li {
        padding: 10px 0;
        border-top: 1px solid #e8e8e8
    }
    .user {
        margin-top: 5em;
        padding-top: 0;
    }
    .content {
        display: block;
        margin-left: 60px;
        img {
            display: block;
            padding: 5px 0;
        }
    }
    .timestamp {
        color: $gray-light;
        display: block;
        margin-left: 60px;
    }
    .gravatar {
        float: left;
        margin-right: 10px;
        margin-top: 5px;
        border-radius: 50%;
    }
    .delete {
        color: $gray-light;
        display: block;
        margin-left: 60px;
    }
}

aside {
    textarea {
        height: 100px;
        margin-bottom: 5px;
    }
}

span.picture {
    margin-top: 10px;
    input {
        border: 0;
    }
}